<h1><%= t("ghetto_faq.editing_question") %></h1>
<%= render "spree/shared/error_messages", :target => @question %>

<%= form_for [:admin, @question] do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>